extends layout

block content
  h1= title
  p A simple tool for experimenting with JS libraries in your web console.
  p.
    Development versions of jQuery and Underscore are included in this page,
    with no other JavaScript files. To use your web console with these
    libraries, simply open it up on this page and hack away.

  footer
    | &copy; 2013 
    a(href='http://thenickperson.com/') Nicolas McCurdy

  h2 Current libraries
  if activeLibraries
    ul: each activeLibrary in activeLibraries
      if activeLibrary
        li: a(href=activeLibrary.url)= activeLibrary.name
  else
    p none

  h2 All libraries
  form
    select.chosen-select(name='libraries', multiple, size=15)
      each library in libraries
        option(value=library.name, selected=isActiveLibrary(library, activeLibraries))= library.name
    input(type='submit', value='Load')

  if activeLibraries
    each activeLibrary in activeLibraries
      if activeLibrary
        script(src=activeLibrary.url)
